# LaTeX auxiliary files
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.idx
*.ind
*.ilg

# PDFs compiled from .tex (keep manually added reference PDFs out of git)
# Uncomment the next line if you want to track compiled PDFs
# *.pdf
